* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v11_2 {
    width: 100%;
    height: 1920px;
    background: rgba(252,225,88,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v98_793 {
    width: 100%;
    height: 1920px;
    background: url("../images/v98_793.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v98_794 {
    width: 100%;
    height: 100%;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v98_709 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 52px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_710 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 52px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_711 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 52px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_712 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 52px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_713 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 52px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_714 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 52px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_715 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 192px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_716 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 192px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_717 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 192px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_718 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 192px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_719 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 192px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_720 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 192px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_721 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 333px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_722 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 333px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_723 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 333px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_724 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 333px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_725 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 333px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_726 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 333px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_727 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 474px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_728 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 474px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_729 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 474px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_730 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 474px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_731 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 474px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_732 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 474px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_733 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 615px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_734 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 615px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_735 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 615px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_736 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 615px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_737 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 615px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_738 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 615px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_739 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 756px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_740 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 756px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_741 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 756px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_742 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 756px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_743 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 756px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_744 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 756px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_745 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 896px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_746 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 896px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_747 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 896px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_748 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 896px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_749 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 896px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_750 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 896px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_751 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1037px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_752 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1037px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_753 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1037px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_754 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1037px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_755 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1037px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_756 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1037px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_757 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1178px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_758 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1178px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_759 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1178px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_760 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1178px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_761 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1178px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_762 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1178px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_763 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1319px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_764 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1319px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_765 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1319px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_766 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1319px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_767 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1319px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_768 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1319px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_769 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1459px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_770 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1459px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_771 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1459px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_772 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1459px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_773 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1459px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_774 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1459px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_775 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1600px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_776 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1600px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_777 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1600px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_778 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1600px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_779 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1600px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_780 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1600px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_781 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1741px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_782 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1741px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_783 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1741px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_784 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1741px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_785 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1741px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_786 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1741px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_787 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1882px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_788 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1882px;
    left: 198px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_789 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1882px;
    left: 396px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_790 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1882px;
    left: 595px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_791 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1882px;
    left: 738px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v98_792 {
    width: 204px;
    color: rgba(184,146,0,1);
    position: absolute;
    top: 1882px;
    left: 540px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 0.30000001192092896;
    text-align: left;
    transform: rotate(-14deg);
  }
  .v13_554 {
    width: 577px;
    height: 576px;
    background: url("../images/v13_554.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 245px;
    left: 312px;
    border-top-left-radius: 288px;
    border-top-right-radius: 288px;
    border-bottom-left-radius: 288px;
    border-bottom-right-radius: 288px;
    overflow: hidden;
  }
  .v13_577 {
    width: 818px;
    height: 127px;
    background: url("../images/v13_577.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1675px;
    left: 191px;
    overflow: hidden;
  }
  .v13_576 {
    width: 556px;
    height: 121px;
    background: url("../images/v13_576.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 131px;
    overflow: hidden;
  }
  .v13_555 {
    width: 556px;
    height: 121px;
    background: url("../images/v13_555.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_6 {
    width: 556px;
    height: 121px;
    background: rgba(0,10,126,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v13_575 {
    width: 818px;
    height: 115px;
    background: url("../images/v13_575.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 0px;
    overflow: hidden;
  }
  .v13_556 {
    width: 818px;
    height: 115px;
    background: url("../images/v13_556.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_7 {
    width: 818px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Unna;
    font-weight: Bold;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }
  .v110_3 {
    width: 766px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 870px;
    left: 217px;
    font-family: Unna;
    font-weight: Regular;
    opacity: 1;
    text-align: center;
  }
  